body
{
    font-family: Arial, Helvetica, sans-serif;
}
header
{
    padding: 80px;
    text-align: center;
    background-image: url("./download.png");
    background-size: cover;
    background-position: center 30%;
    color: white;
    
}
header h1{
    font-size: 40px ;
}
nav
{
    overflow: hidden;
    background-color: #333;

}
nav a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav a.right
{
    float: right;
}
nav a:hover
{
    background-color: #ddd;
    color: black ;
}
*
{
    box-sizing: border-box;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
aside
{
    flex: 30%;
    background-color:#f1f1f1;
    padding:20px;
}
main
{
    flex:70%;
    background-color: white;
    padding: 20px;
    
}
footer 
{
    padding: 20px; 
    background: #ddd;
}
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

img {
height: 100%;
width: 100%;
}

.stickgameimg {
    height: 186px;
    width: 271px;
    display: inline-block;
}

.stickgameimg:hover
{
    height: 204.6px;
    width:  298.1px;
    position: relative;
}
.stickgameimg:hover::after
{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
.tooltip
{
    text-decoration: none;
    position: relative;
}
.tooltip span
{
    display: none;

}
.tooltip:hover span
{
    display: block;
    position: fixed;
    overflow: hidden;
    z-index: 999;
}
a:visited
{
    color: black;
}